<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>環台光電 | 環保綠能，永續台灣</title>
  <!-- hiding the Browser’s User Interface -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS 6 -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- meta start -->
  <meta name="title" content="環台光電 | 環保綠能，永續台灣" />
  <meta name="description" content="環台光電股份有限公司 自 2013 年起積極參於國家能源改革，投入資源建設太陽能光電系統，提供高效能、可靠和潔淨的綠能，我們相信「每個人都有機會從能源使用者，變成再生能源提供者」期待與更多夥伴攜手合作，一起為台灣能源改革努力，把美麗的台灣留給下一代。" />
  <meta name="keywords" content="環台光電，環台，光電" />
  <meta name="copyright" content="" />
  <link rel="image_src" href="" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <!-- OG -->
  <meta property="og:title" content="環台光電 | 環保綠能，永續台灣" />
  <meta property="og:site_name" content="環台光電 | 環保綠能，永續台灣" />
  <meta property="og:description" content="環台光電股份有限公司 自 2013 年起積極參於國家能源改革，投入資源建設太陽能光電系統，提供高效能、可靠和潔淨的綠能，我們相信「每個人都有機會從能源使用者，變成再生能源提供者」期待與更多夥伴攜手合作，一起為台灣能源改革努力，把美麗的台灣留給下一代。" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="fb:app_id" content="" />
  <!-- CSS -->
  <!-- build:css css/lib.css -->
  <!-- endbuild -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <link rel="stylesheet" href="css/all.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88089450-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-88089450-3');
</script>
</head>

<body>
  <!-- sider -->
  <% include conponents/sider %>
  <!-- sider END-->

  <!-- navbar -->
  <% include conponents/header %>
  <!-- navbar END -->

  <div id='mainContainer'>
    <!-- contents -->
    <%- contents %>
    <!-- contents END -->
  </div>

  <!-- footer -->
  <% include conponents/footer %>
  <!-- footer END -->


  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/swiper.min.js"></script>
  <script type="text/javascript" src="js/lib/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/lib/TimelineMax.min.js"></script>
  <script type="text/javascript" src="js/lib/in-view.min.js"></script>
  <!-- endbuild -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

  <!-- js -->
  <script src="js/all.js?v=2"></script>
  <!-- js END-->
</body>

</html>